$primary-text-color: #666;
$secondary-text-color: #6c757d;
$muted-text-color: #96a1aa;
$brand-text-color: #e2ebf9;
$green-accent-color: rgb(0,100,0);
$blue-accent-color: rgb(21, 98, 157);
$nav-primary-color: darken($green-accent-color, 25%);
$nav-secondary-color: rgba($green-accent-color, 0.9);
$error-color: #62212a;