a {
  color: $green-accent-color;
}


.card {

  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .09);
  text-align: center;

  .card-title {
    font-weight: 400;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all .5s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
